:root {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    --sidebar-color: deepskyblue;
    --header-color: forestgreen;
    --main-bg-color: lightgrey;
    --card-bg-color: white;
    --card-border-color: pink;
}

ul {
    list-style: none;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar container";
}

.sidebar {
    height: 100%;
    grid-area: sidebar;
    background-color: var(--sidebar-color);
}

.header {
    position: -webkit-sticky;
    position: sticky;
    grid-area: header;
    top: 0;
    height: 200px;
    padding: 0 1.5rem;
    display: grid;
    grid-template-areas:
    "search admin"
    "info buttons";
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
}

.admin {
    display: flex;
}

.container {
    padding: 1.5rem;
    display: grid;
    grid-area: container;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    gap: 1rem;
    overflow: auto;
    background-color: var(--main-bg-color);
}

.projects {
    grid-area: projects;
}

.containerTitle {
    padding-bottom: 1rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.projectsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    height: fit-content;
}

.project {
    padding: 2rem;
    background-color: var(--card-bg-color);
}

.projTitle {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.announcements {
    grid-area: announcements;
}

.announceContainer {
    background-color: var(--card-bg-color);
    padding: 1rem;
}

.announcement {
    padding: 1rem;
    width: 200px;
    overflow: hidden;
}

.announceTitle {
    font-size: 1.2rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.trending {
    grid-area: trending;
}

.trendContainer {
    background-color: var(--card-bg-color);
}

.trend {
    padding: 1rem;
}